%div{:id => "#{dom_id comedian}"}
  %p
    %strong 
    =t('activerecord.attributes.comedian.first_name')
    = comedian.first_name
    %strong 
    =t('activerecord.attributes.comedian.last_name')
    = comedian.last_name
    %strong 
    =t('activerecord.attributes.comedian.id_number')
    = comedian.id_number
     %strong 
    =t('application.level')
    = comedian.level


   
    
    