= form_for @comedian, validate: true do |f|
  .form-group.ml-4.mr-4
    =f.label :first_name, class: "form-label required"
    =f.text_field :first_name, autofocus: true, class: "form-control"
    =f.label :last_name, class: "form-label required"
    =f.text_field :last_name, autofocus: true, class: "form-control"
    =f.label :id_number, class: "form-label required"
    =f.text_field :id_number, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4 
    = f.label :level, class: 'form-label required'
    = f.select(:level, options_for_select(meth_level, @comedian.level),
                        {prompt: "Seleccione"}, class: 'form-control')
  .row
    .offset-3.col-3
      = link_to  t('application.back'), comedians_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag  t('application.save'), class: "btn btn-success btn-block",
        'data-disable-with': t('application.saving')

