.page-header
  %p{style: "color: green"}= notice

  %h1.mb-4.m-4
    = t('application.list_of', model: t('activerecord.modules.event.other'))
    .float-right
      = link_to t('application.new'), new_event_path, class: "btn btn-primary"

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.modules.event.one')
      %th= t('activerecord.modules.comedian.one')
      %th= t('activerecord.attributes.comedian.id_number')
      %th
      %th
      %th
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= event.typpe
        %td= "#{event.comedian.first_name}  #{event.comedian.last_name}"
        %td= event.comedian.id_number
        %td= link_to  t('application.show'), event, class: "btn btn-info"
        %td= link_to t('application.edit'), edit_event_path(event), class: "btn btn-success"
        %td= link_to t('aplication.delete'), event , method: :delete , class: "btn btn-danger",
          data: {confirm: t('application.do_you_want_to_delete', model: t('activerecord.modules.comedian.one')),
          accept: t('aplication.accept'),
          reject: t('aplication.cancel')}
